<!DOCTYPE html>
<html>
<head>
<title>GlueX Scalers Display and Animation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style type='text/css'>
    table.underline-headers { border-collapse: collapse; }
    table.underline-headers th { border-bottom: 1px solid black; }
    tr.overline-row td { border-top: 1px solid black; }
    tr.underline-row td { border-bottom: 1px solid black; }
</style>
</head>

<body ng-app="GlueXscalers" ng-controller="scalersCtrl">
<h1 align="center">GlueX Scalers Display and Animation</h1>
<form>

<!-- EPICS variable browser section -->

<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>
  <div class="w3-col l10 w3-container">
    <table style="display:inline-block; max-width:500px; vertical-align:top">
      <tr><td>EPICS variables</td></tr>
      <tr><td>Group:
        <select ng-model="EPICS.group" 
                ng-change="EPICSgroupSelected()"
                ng-options="x for x in EPICS.groups">
        </select>
      </td></tr>
      <tr ng-show="EPICS.group != EPICS.nogroup"><td>Search:
        <input type="text" ng-model="EPICS.channelFilterRE" size="25" 
               placeholder="grep-style regular expression"
               ng-change="filterChannels()">
        </input>
      </td></tr>
      <tr><td ng-if="channelPages.length > 1">
        <button ng-repeat="$index in channelPages" ng-click="channelPageSet($index)"
                ng-style="($index == channelPageSelected) && {'background-color':'yellow'} || {'padding':'1px 6px'}">
          {{$index + 1}}
        </button>
      </td></tr>
    </table>
    <table style="display:inline-block; max-width:500px vertical-align:top" class="underline-headers" ng-show="EPICS.group != EPICS.nogroup">
      <tr>
        <th valign="bottom">variable name</th>
        <th valign="bottom" width="90">length</th>
        <th valign="bottom" width="70">x axis?</th>
        <th valign="bottom" width="70">y axis?</th>
      </tr>
      <tr ng-repeat="evar in EPICS.vars | filter:searchFilter | limitTo:channelPageSize:channelPageStart track by evar.name">
        <td><span ng-bind="evar.name"></span></td>
        <td align="right" style="padding-right: 30px"><span ng-bind="evar.size"></span></td>
        <td align="center"><input type="checkbox" ng-model="evar.add2x"/></td>
        <td align="center"><input type="checkbox" ng-model="evar.add2y"/></td>
      </tr>
      <tr class="overline-row">
        <td><b>Select / unselect all</b></td>
        <td></td>
        <td align="center"><input type="checkbox" ng-model="EPICS.selectAllX" ng-change="channelSelectAllX()"/></td>
        <td align="center"><input type="checkbox" ng-model="EPICS.selectAllY" ng-change="channelSelectAllY()"/></td>
      </tr>
      <tr class="underline-row">
        <td><b>Totals</b></td>
        <td align="right" style="padding-right: 30px">{{ channelCount() }}</td>
        <td align="center">{{ channelsSelectedX }}</td>
        <td align="center">{{ channelsSelectedY }}</td>
      </tr>
    </table>
  </div>
</div>

<!-- Time span selection -->

<div class="w3-row">
  <br/>
  <div class="w3-col l2 w3-container"><p></p></div>
  <h4 class="w3-col l10 w3-container">Time span selection: </h4>
</div>
<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>
  <div class="w3-col l10 w3-container">
    <table style="display:inline-block">
    <tr><td>from</td><td align="right">
      <button ng-click="setStartRunStart()">start</button>
      <input type="number" min="1" max="999999999"
             placeholder="run number" ng-model="timeSpan.runStart">
      </input>
      <button ng-click="setStartRunEnd()">end</button>
    </td></tr>
    <tr><td colspan="2">
      <input type="datetime-local" name="timeStart"
              step="0.001" ng-model="timeSpan.timeStart"
              ng-change="setTimeSpanTimes()">
      </input>
    </td></tr>
    </table>
    <table style="display:inline-block" width="50px"></table>
    <table style="display:inline-block">
    <tr><td>until</td><td align="right">
      <button ng-click="setEndRunStart()">start</button>
      <input type="number" min="1" max="999999999"
             placeholder="run number" ng-model="timeSpan.runEnd">
      </input>
      <button ng-click="setEndRunEnd()">end</button>
    </td></tr>
    <tr><td colspan="2">
      <input type="datetime-local" name="timeEnd"
             step="0.001" ng-model="timeSpan.timeEnd"
             ng-change="setTimeSpanTimes()">
    </input>
    </td></tr>
    </table>
  </div>
</div>
<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>
  <div class="w3-col l10 w3-container">
  <p ng-if="timeSpan.timeStart && timeSpan.timeEnd && timeSpan.timeEnd > timeSpan.timeStart">
  Time span is {{ (timeSpan.timeEnd.getTime() - timeSpan.timeStart.getTime()) / 1000 }}
  seconds spanned by
  <input type="number" min="1" max="999999" step="1"
         ng-model="timeSpan.sampleCount" ng-change="setTimeSampleCount()"></input>
  evenly spaced samples of
  <input type="number" min="1" max="9999" step="1"
         ng-model="timeSpan.sampleWidth" ng-change="setTimeSampleWidth()"></input>
  seconds each, total coverage is
  {{
    (1e5 * timeSpan.sampleCount * timeSpan.sampleWidth / 
    (timeSpan.timeEnd.getTime() - timeSpan.timeStart.getTime())).toPrecision(3)
  }}%.
  </p>
  </div>
</div>

<!-- x axis specification -->

<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>
  <div class="w3-col l10 w3-container">
</form>

<script>
var app = angular.module('GlueXscalers', []);
app.controller('scalersCtrl', function($scope, $http) {
    $http({ method : "GET", url : "?request=list_groups" }).then(
        function(response) {
            $scope.EPICS.groups = {};
            $scope.EPICS.nogroup = "...choose one";
            $scope.EPICS.groups[0] = $scope.EPICS.nogroup;
            for (var name in response.data) {
                index = response.data[name];
                $scope.EPICS.groups[index] = name;
            }
            $scope.EPICS.group = $scope.EPICS.nogroup;
        },
        function(response) {
            $scope.EPICS.groups = {};
            $scope.EPICS.nogroup = "no groups found";
            $scope.EPICS.groups[0] = $scope.EPICS.nogroup;
            $scope.EPICS.group = $scope.EPICS.nogroup;
        }
    );

    $scope.EPICSgroupSelected = function() {
        var gindex = 0;
        for (var key in $scope.EPICS.groups) {
          if ($scope.EPICS.group == $scope.EPICS.groups[key]) {
            gindex = key;
            break;
          }
        }
        var querystring = "?request=list_channels&group=" + gindex.toString();
        $http({ method : "GET", url : querystring }).then(
            function(response) {
                $scope.EPICS.vars = response.data;
                $scope.filterChannels();
            },
            function(response) {
                $scope.EPICS.vars = [];
            }
        );
    };

    $scope.filterChannels = function() {
        var visible = 0;
        if ($scope.EPICS.channelFilterRE && $scope.EPICS.channelFilterRE.length > 0) {
            var re = RegExp($scope.EPICS.channelFilterRE);
            for (var i in $scope.EPICS.vars) {
                if (re.exec($scope.EPICS.vars[i].name)) {
                    $scope.EPICS.vars[i].hide = false;
                    ++visible;
                }
                else  {
                    $scope.EPICS.vars[i].hide = true;
                }
            }
        }
        else {
           visible = $scope.EPICS.vars.length;
        }
        $scope.EPICS.channelPageStart = 0;
        $scope.EPICS.channelPageSize = 15;
        var pages = visible / $scope.EPICS.channelPageSize;
        if (pages / 10 > $scope.EPICS.channelPageSize) 
            $scope.EPICS.channelPageSize = Math.ceil(Math.sqrt(visible / 20));
        pages = Math.ceil(visible / $scope.EPICS.channelPageSize);
        $scope.EPICS.channelPages = [];
        for (var page = 0; page < pages; ++page)
            $scope.EPICS.channelPages.push(page);
        $scope.EPICS.channelPageSelected = 0;
        $scope.EPICS.channelsSelectedX = 0;
        $scope.EPICS.channelsSelectedY = 0;
        $scope.EPICS.channelTotal = 0;
        $scope.EPICS.selectAllX = false;
        $scope.EPICS.selectAllY = false;
    };

    $scope.searchFilter = function(evar) {
        if ($scope.EPICS.channelFilterRE && $scope.EPICS.channelFilterRE.length > 0) {
            var re = RegExp($scope.EPICS.channelFilterRE);
            return re.test(evar.name);
        }
        return true;
    };

    $scope.channelPageSet = function(index) {
        $scope.EPICS.channelPageStart = index * $scope.EPICS.channelPageSize;
        $scope.EPICS.channelPageSelected = index;
    };

    $scope.channelCount = function() {
        var re;
        if ($scope.EPICS.channelFilterRE && $scope.EPICS.channelFilterRE.length > 0)
            re = RegExp($scope.EPICS.channelFilterRE);
        $scope.EPICS.totalSize = 0;
        $scope.EPICS.channelsSelectedX = 0;
        $scope.EPICS.channelsSelectedY = 0;
        for (var i in $scope.EPICS.vars) {
            if (!re || re.exec($scope.EPICS.vars[i].name)) {
                $scope.EPICS.totalSize += $scope.EPICS.vars[i].size;
                if ($scope.EPICS.vars[i].add2x)
                    ++$scope.EPICS.channelsSelectedX;
                if ($scope.EPICS.vars[i].add2y)
                    ++$scope.EPICS.channelsSelectedY;
            }
        }
        return $scope.EPICS.totalSize;
    };

    $scope.channelSelectAllX = function() {
        var re;
        if ($scope.EPICS.channelFilterRE && $scope.EPICS.channelFilterRE.length > 0)
            re = RegExp($scope.EPICS.channelFilterRE);
        for (var i in $scope.EPICS.vars)
            if (!re || re.exec($scope.EPICS.vars[i].name))
                $scope.EPICS.vars[i].add2x = $scope.EPICS.selectAllX;
    };

    $scope.channelSelectAllY = function() {
        var re;
        if ($scope.EPICS.channelFilterRE && $scope.EPICS.channelFilterRE.length > 0)
            re = RegExp($scope.EPICS.channelFilterRE);
        for (var i in $scope.EPICS.vars)
            if (!re || re.exec($scope.EPICS.vars[i].name))
                $scope.EPICS.vars[i].add2y = $scope.EPICS.selectAllY;
    };

    $scope.setStartRunStart = function() {
        if ($scope.timeSpan.runStart) {
            $scope.getRunTimes($scope.timeSpan.runStart).then(function(response) {
                if (response.data.starttime) {
                    var t = response.data.starttime;
                    $scope.timeSpan.timeStart = new Date(t * 1000);
                    $scope.setTimeSpanTimes();
                    $scope.timeSpan.runStart = response.data.run;
                    if (!$scope.timeSpan.runEnd || 
                        $scope.timeSpan.runEnd < $scope.timeSpan.runStart)
                    {
                        $scope.timeSpan.runEnd = $scope.timeSpan.runStart;
                    }
                }
            });
        }
    };

    $scope.setStartRunEnd = function() {
        if ($scope.timeSpan.runStart) {
            $scope.getRunTimes($scope.timeSpan.runStart).then(function(response) {
                if (response.data.endtime) {
                    var t = response.data.endtime;
                    $scope.timeSpan.timeStart = new Date(t * 1000);
                    $scope.setTimeSpanTimes();
                    $scope.timeSpan.runStart = response.data.run;
                    if (!$scope.timeSpan.runEnd || 
                        $scope.timeSpan.runEnd < $scope.timeSpan.runStart)
                    {
                        $scope.timeSpan.runEnd = $scope.timeSpan.runStart + 1;
                    }
                }
            });
        }
    };

    $scope.setEndRunStart = function() {
        if ($scope.timeSpan.runEnd) {
            $scope.getRunTimes($scope.timeSpan.runEnd).then(function(response) {
                if (response.data.starttime) {
                    var t = response.data.starttime;
                    $scope.timeSpan.timeEnd = new Date(t * 1000);
                    $scope.setTimeSpanTimes();
                    $scope.timeSpan.runEnd = response.data.run;
                    if (!$scope.timeSpan.runStart ||
                        $scope.timeSpan.runStart > $scope.timeSpan.runEnd)
                    {
                        $scope.timeSpan.runStart = $scope.timeSpan.runEnd - 1;
                    }
                }
            });
        }
    };

    $scope.setEndRunEnd = function() {
        if ($scope.timeSpan.runEnd) {
            $scope.getRunTimes($scope.timeSpan.runEnd).then(function(response) {
                if (response.data.endtime) {
                    var t = response.data.endtime;
                    $scope.timeSpan.timeEnd = new Date(t * 1000);
                    $scope.setTimeSpanTimes();
                    $scope.timeSpan.runEnd = response.data.run;
                    if (!$scope.timeSpan.runStart ||
                        $scope.timeSpan.runStart > $scope.timeSpan.runEnd)
                    {
                        $scope.timeSpan.runStart = $scope.timeSpan.runEnd;
                    }
                }
            });
        }
    };

    $scope.setTimeSampleCount = function() {
        var duration = ($scope.timeSpan.timeEnd.getTime() - 
                        $scope.timeSpan.timeStart.getTime()) / 1000;
        if (duration > 0) {
            var count = $scope.timeSpan.sampleCount;
            count = (count > 0)? count : 1;
            count = (count < duration)? count : Math.floor(duration);
            var delta = Math.floor(duration / count);
            delta = (delta > 0)? delta : 1;
            $scope.timeSpan.sampleCount = count;
            $scope.timeSpan.sampleStep = delta;
            if ($scope.timeSpan.sampleWidth > delta) {
                $scope.timeSpan.sampleWidth = delta;
            }
        }
    };

    $scope.setTimeSampleWidth = function() {
        if ($scope.timeSpan.sampleWidth > $scope.timeSpan.sampleStep)
            $scope.timeSpan.sampleWidth = $scope.timeSpan.sampleStep;
        else if ($scope.timeSpan.sampleWidth < 1)
            $scope.timeSpan.sampleWidth = 1;
    };

    $scope.setTimeSpanTimes = function() {
        var duration = ($scope.timeSpan.timeEnd.getTime() -
                        $scope.timeSpan.timeStart.getTime()) / 1000;
        if (duration > 0) {
            var delta = $scope.timeSpan.sampleStep;
            var count = Math.floor(duration / delta);
            count = (count > 0)? count : 1;
            $scope.timeSpan.sampleCount = count;
        }
    };

    $scope.getRunTimes = function(run) {
        var querystring = "?request=run_times&run=" + run.toString();
        return $http({ method : "GET", url : querystring })
        .catch(function() {
            console.log("request run_times returns error");
        });
    };

    $scope.EPICS = {};
    $scope.EPICS.channelPages = 0;
    $scope.EPICS.channelPageSize = 15;
    $scope.EPICS.channelPageCount = 0;
    $scope.EPICS.channelPageStart = 0;
    $scope.EPICS.channelPageSelected = 0;

    $scope.timeSpan = {};
    $scope.timeSpan.timeEnd = new Date();
    $scope.timeSpan.timeStart = new Date($scope.timeSpan.timeEnd.getTime() - 3600000);
    $scope.timeSpan.sampleCount = 100;
    $scope.timeSpan.sampleWidth = 1;
    $scope.setTimeSampleCount();
});

</script>

</body>
</html>
