table.underline-headers {
	border-collapse: collapse;
}

table.underline-headers th {
	border-bottom: 1px solid black;
}

tr.overline-row td {
	border-top: 1px solid black;
}

tr.underline-row td {
	border-bottom: 1px solid black;
}

.modal-container {
	position:relative;
	display:inline-block;
}

.modal-window-axis-var {
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	text-align: left;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 10px 8px #888888;
	background-color: #e0e0e0;
	z-index: 999;
}

.modal-window-close {
	position: absolute;
	right: 0;
	top: 0;
}

.btn-glyph {
	padding: 0;
    border: none;
    background: none
}
