<!DOCTYPE html>
<html>
<head>
<title>GlueX Scalers Display and Animation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Additional packages for reference, do not include unless needed ==>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<!== End of Additional packages for reference, do not include unless needed -->
<link rel="stylesheet" type="text/css" href="scalers.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="GlueXscalers" ng-controller="scalersCtrl" ng-cloak>
<h1 align="center">GlueX Scalers Display and Animation</h1>
<form>

<!-- EPICS variable browser section -->

<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>
  <div class="w3-col l4 w3-container">
    <table style="display:inline-block; max-width:500px; vertical-align:top">
      <tr><td><h4 class="section-heading">EPICS variables:</h4></td></tr>
      <tr><td>Group:
        <select ng-model="EPICS.group" 
                ng-change="EPICSgroupSelected()"
                ng-options="x for x in EPICS.groups">
        </select>
      </td></tr>
      <tr ng-show="EPICS.group != EPICS.nogroup"><td>Search:
        <input type="text" ng-model="EPICS.channelFilterRE" size="25" 
               placeholder="grep-style regular expression"
               ng-change="filterChannels()">
      </td></tr>
      <tr><td ng-if="EPICS.channelPages.length > 1">
        <button ng-repeat="$index in EPICS.channelPages" 
                ng-click="channelPageSet($index)"
                ng-style="($index == EPICS.channelPageSelected) && 
                          {'background-color':'yellow'} || 
                          {'padding':'1px 6px'}">
          {{$index + 1}}
        </button>
      </td></tr>
    </table>
  </div>
  <div class="w3-col l6 w3-container">
    <table style="display:inline-block; max-width:500px vertical-align:top"
           class="underline-headers" ng-show="EPICS.group != EPICS.nogroup">
      <tr>
        <th valign="bottom">variable name</th>
        <th valign="bottom" width="90">length</th>
        <th valign="bottom" width="70">x axis?</th>
        <th valign="bottom" width="70">y axis?</th>
      </tr>
      <tr ng-repeat="evar in EPICS.vars | filter:searchFilter | 
                     limitTo:EPICS.channelPageSize:EPICS.channelPageStart
                     track by $index">
        <td><span ng-bind="evar.name"></span></td>
        <td align="right" style="padding-right: 30px">
          <span ng-bind="evar.size"></span>
        </td>
        <td align="center"><input type="checkbox" ng-model="evar.add2x"/></td>
        <td align="center"><input type="checkbox" ng-model="evar.add2y"/></td>
      </tr>
      <tr class="overline-row">
        <td><b>Select / unselect all</b></td>
        <td></td>
        <td align="center">
          <input type="checkbox" ng-model="EPICS.selectAllX"
                                 ng-change="channelSelectAllX()"/>
        </td>
        <td align="center">
          <input type="checkbox" ng-model="EPICS.selectAllY"
                                 ng-change="channelSelectAllY()"/>
        </td>
      </tr>
      <tr class="underline-row">
        <td><b>Totals</b></td>
        <td align="right" style="padding-right: 30px">{{ channelCount() }}</td>
        <td align="center">{{ EPICS.channelsSelectedX }}</td>
        <td align="center">{{ EPICS.channelsSelectedY }}</td>
      </tr>
    </table>
  </div>
</div>

<!-- Time span selection -->

<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>
  <div class="w3-col l10 w3-container" style="margin-top:20px">
    <h4 class="section-heading">Time span selection: </h4>
    <table style="display:inline-block">
    <tr><td>from</td><td align="right">
      <button ng-click="setStartRunStart()">start</button>
      <input type="number" min="1" max="999999999"
             placeholder="run number" ng-model="timeSpan.runStart">
      <button ng-click="setStartRunEnd()">end</button>
    </td></tr>
    <tr><td colspan="2">
      <input type="datetime-local" name="timeStart"
              step="0.001" ng-model="timeSpan.timeStart"
              ng-change="setTimeSpanTimes()">
    </td></tr>
    </table>
    <table style="display:inline-block" width="50"></table>
    <table style="display:inline-block">
    <tr><td>until</td><td align="right">
      <button ng-click="setEndRunStart()">start</button>
      <input type="number" min="1" max="999999999"
             placeholder="run number" ng-model="timeSpan.runEnd">
      <button ng-click="setEndRunEnd()">end</button>
    </td></tr>
    <tr><td colspan="2">
      <input type="datetime-local" name="timeEnd"
             step="0.001" ng-model="timeSpan.timeEnd"
             ng-change="setTimeSpanTimes()">
    </td></tr>
    </table>
  </div>
</div>
<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>
  <div class="w3-col l10 w3-container">
  <p ng-if="timeSpan.timeStart && timeSpan.timeEnd && 
            timeSpan.timeEnd > timeSpan.timeStart">
  Time span is 
  {{ (timeSpan.timeEnd.getTime() - timeSpan.timeStart.getTime()) / 1000 }}
  seconds spanned by
  <input type="number" min="1" max="999999" step="1"
         ng-model="timeSpan.sampleCount" ng-change="setTimeSampleCount()">
  evenly spaced samples of
  <input type="number" min="1" max="9999" step="1"
         ng-model="timeSpan.sampleWidth" ng-change="setTimeSampleWidth()">
  seconds each, total coverage is
  {{
    (1e5 * timeSpan.sampleCount * timeSpan.sampleWidth / 
    (timeSpan.timeEnd.getTime() - timeSpan.timeStart.getTime())).toPrecision(3)
  }}%.
  <br/>
  EPICS time is from {{ timeSpan.timeStart.getTime()*256*256*256*16 }}
                  to {{ timeSpan.timeEnd.getTime()*256*256*256*16 }}
  </p>
  </div>
</div>

<!-- axis specifications -->

<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>

  <!-- x axis -->

  <div class="w3-col l4 w3-container">
    <h4 class="section-heading">X axis specification:</h4>
    <table><tr class="option-table-row"><td>
      <input type="checkbox" ng-model="Xaxis.isTime">
    </td><td>
      Select time (seconds) as the x coordinate for plotting.
    </td></tr>

    <tr ng-show="!Xaxis.isTime" class="option-table-row"><td>
      <input type="checkbox" ng-model="Xaxis.importSelection"
                             ng-change="importXselection()">
    </td><td>
      Import selected EPICS variables from above listing.
    </td></tr>
    <tr ng-show="!Xaxis.isTime && Xaxis.vars.length > 0"><td></td><td>
      <table style="padding-left: 20px">
        <tr class="underline-row" height="10">
        <td colspan="2" width="300"></td></tr>
        <tr ng-repeat="evar in Xaxis.vars track by $index">
          <td>
          {{
              evar.name + ((evar.size > 1)?
                           '[' + evar.min_index.toString() +
                           ((evar.max_index > evar.min_index)?
                            ':' + evar.max_index.toString() : '')
                           + ']' : '')
          }}
          </td>
          <td align="right" width="90">
            <div class="modal-container" style="display:inline-block"
                 ng-show="evar.size > 1">
              <div class="modal-window-axis-var" ng-show="evar.edit">
                {{ evar.name }}<br/> index from 
                <input type="number" min="0" step="1"
                       max="{{evar.max_index}}" ng-model="evar.min_index">
                to
                <input type="number" step="1"
                       min="{{evar.min_index}}" max="{{evar.size - 1}}"
                       ng-model="evar.max_index">
                <button type="button" class="btn btn-link modal-window-close"
                        ng-click="editXselection($index, 0)">
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
              </div>
              <button type="button" class="btn btn-link btn-glyph"
                      ng-click="editXselection($index, 1)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </div>
            <button type="button" class="btn btn-link btn-glyph"
                    ng-click="deleteXselection($index)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        <tr ng-if="Xaxis.importTruncated">
         <td colspan="2" width="300" style="color: red">
          <i>Import operation was truncated because you attempted to add 
          more than {{ Xaxis.importTruncated }} entries to the list. 
          Are you sure this is what you want to do? If you are really
          going to look at all of these variables, go ahead and hit
          the import checkbox as many times as you wish until all
          of the variables of interest have been imported.
          And be prepared to wait.</i>
        </td></tr>
        <tr class="overline-row" height="10"><td colspan="2"></td></tr>
      </table>
    </td></tr>
    <tr ng-show="Xaxis.vars.length" class="option-table-row"><td>
      <input type="checkbox" ng-model="Xaxis.clearSelection"
                             ng-change="clearXselection()">
    </td><td>
      Clear this list.
    </td></tr>

    <tr ng-show="!Xaxis.isTime && Xaxis.vars.length == 0"
        class="option-table-row"><td>
      <input type="checkbox" ng-model="Xaxis.isNamestring"
                             ng-change="setXaxisNamestring()">
    </td><td class="modal-container">
      Generate variable names from
      <button type="link" class="action-link" 
                          ng-click="showModal[3] = true">
      python expression</button> lambda i:
      <div class="modal-window-help-string" ng-show="showModal[3]">
        Python expression should depend on index i, and evaluate to a
        string containing the name of a valid EPICS variable. Invalid
        names are ignored.
        <button type="button" class="btn btn-link modal-window-close"
                ng-click="showModal[3] = false">
          <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
      </div>
      <span style="display:inline-block">
      <input type="text" ng-model="Xaxis.namestring"
                         ng-change="setState('preload')">
      for i in range(0,<input type="number" min="1" max="500" step="1"
                                            ng-model="Xaxis.nameCount"
                                            ng-change="setState('preload')">)
      </span>
    </td></tr>

    <tr ng-show="!Xaxis.isTime && Xaxis.vars.length == 0 && !Xaxis.isNamestring"
        class="option-table-row"><td>
      <input type="checkbox" ng-model="Xaxis.isMapIndex"
                             ng-change="setXaxisMapIndex()">
    </td><td>
      X axis is a map index, 
      i=range(<input type="number" min="0" max="500"
                                   ng-model="Xaxis.mapIndex0"
                                   ng-change="setXaxisMapIndex()">,
      <input type="number" min="{{Xaxis.mapIndex0 + 1}}" max="500"
                           ng-model="Xaxis.mapIndex1"
                           ng-change="setXaxisMapIndex()">)
      <div class="modal-container">
      with title
      <button type="link" class="action-link" ng-click="showModal[0] = true">
      string</button>
      <div class="modal-window-help-string" ng-show="showModal[0]">
        String supports python-style index variable substitution using
        the literal {0}. Eg.
        <span style="background-color:white">TAGM {0} fadc scaler (Hz)</span>
        produces a sequence of titles of the general form
        "TAGM 93 fadc scaler (Hz)" for i=93. A fairly complete set of
        printf-style substituion expressions is supported; consult
        a python refrence for details.
        <button type="button" class="btn btn-link modal-window-close"
                ng-click="showModal[0] = false">
          <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
      </div>
      <span style="display:inline-block">
      "<input type="text" ng-model="Xaxis.mapTitle">".format(i)
      </span>
      </div>
    </td></tr>

    <tr class="option-table-row"><td>
      <i class="fa fa-square" aria-hidden="true"></i>
    </td><td>
      Axis limits 
      <span style="display:inline-block">from
      <input type="number" ng-model="Xaxis.lowLimit"> or
      <input type="checkbox" ng-model="Xaxis.lowLimitAuto"> auto
      </span>
      <span style="display:inline-block">to
      <input type="number" ng-model="Xaxis.highLimit"> or
      <input type="checkbox" ng-model="Xaxis.highLimitAuto"> auto
      </span>
    </td></tr>

    <tr ng-show="!Xaxis.isTime" class="option-table-row"><td>
      <i class="fa fa-square" aria-hidden="true"></i>
    </td><td>
      Plotted values are: 
      <div>
      <input type="radio" name="Xaxis_sumType" value="cummulative"
                          ng-model="Xaxis.sumType">
      cummulative, summed forward from the start time
      </div><div>
      <input type="radio" name="Xaxis_sumType" value="incremental"
                          ng-model="Xaxis.sumType">
      incremental, summed within each time sample interval
      </div><div>
      <input type="radio" name="Xaxis_sumType" value="instantaneous"
                          ng-model="Xaxis.isInstantaneous">
      instantaneous, mean rate within each sample interval
      </div>
    </td></tr>

    <tr ng-show="!Xaxis.isTime" class="option-table-row"><td>
      <i class="fa fa-square" aria-hidden="true"></i>
    </td><td>
      How to interpolate between measurements:
      <div>
      <input type="radio" name="Xaxis_interpol" value="linearInterp"
                          ng-model="Xaxis.interpol">
      linear interpolation, assume smooth evolution
      </div><div>
      <input type="radio" name="Xaxis_interpol" value="step"
                          ng-model="Xaxis.interpol">
      step-wise constant, assume discontinuous evolution
      </div>
    </td></tr>
    </table>
  </div>

  <!-- y axis -->

  <div class="w3-col l4 w3-container">
    <h4 class="section-heading">Y axis specification:</h4>
    <table><tr class="option-table-row"><td>
      <input type="checkbox" ng-model="Yaxis.isRate">
    </td><td>
      Select rate (Hz) as the y coordinate for plotting.
    </td></tr>

    <tr ng-show="!Yaxis.isRate" class="option-table-row"><td>
      <input type="checkbox" ng-model="Yaxis.isFreq">
    </td><td>
      Select frequency (samples) as the y coordinate for plotting.
    </td></tr>

    <tr ng-show="!Yaxis.isFreq && !Yaxis.isRate" class="option-table-row"><td>
      <input type="checkbox" ng-model="Yaxis.importSelection"
                             ng-change="importYselection()">
    </td><td>
      Import selected EPICS variables from above listing.
    </td></tr>
    <tr ng-show="!Yaxis.isRate && !Yaxis.isFreq && Yaxis.vars.length > 0">
      <td></td><td>
        <table style="padding-left:20px">
        <tr class="underline-row" height="10"><td colspan="2"></td</tr>
        <tr ng-repeat="evar in Yaxis.vars track by $index">
          <td>
          {{
              evar.name + ((evar.size > 1)?
                           '[' + evar.min_index.toString() +
                           ((evar.max_index > evar.min_index)?
                            ':' + evar.max_index.toString() : '')
                           + ']' : '')
          }}
          </td>
          <td align="right" width="90">
            <div class="modal-container" style="display:inline-block"
                 ng-show="evar.size > 1">
              <div class="modal-window-axis-var" ng-show="evar.edit">
                {{ evar.name }}<br/> index from 
                <input type="number" min="0" step="1"
                       max="{{evar.max_index}}" ng-model="evar.min_index">
                to
                <input type="number" step="1"
                       min="{{evar.min_index}}" max="{{evar.size - 1}}"
                       ng-model="evar.max_index">
                <button type="button" class="btn btn-link modal-window-close"
                        ng-click="editXselection($index, 0)">
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
              </div>
              <button type="button" class="btn btn-link btn-glyph"
                      ng-click="editYselection($index, 1)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </div>
            <button type="button" class="btn btn-link btn-glyph"
                    ng-click="deleteYselection($index)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        <tr ng-if="Yaxis.importTruncated">
          <td colspan="2" width="300" style="color: red">
          <i>Import operation was truncated because you attempted to add 
          more than {{ Xaxis.importTruncated }} entries to the list. 
          Are you sure this is what you want to do? If you are really
          going to look at all of these variables, go ahead and hit
          the import checkbox as many times as you wish until all
          of the variables of interest have been imported.
          And be prepared to wait.</i>
          </td>
        </tr>
        <tr class="overline-row" height="10"><td colspan="2"></td></tr>
        </table>
      </td>
    </tr>
    <tr ng-show="!Yaxis.isRate && !Yaxis.isFreq && Yaxis.vars.length > 0">
      <td>
        <input type="checkbox" ng-model="Yaxis.clearSelection"
                               ng-change="clearYselection()">
      </td><td>
        Clear this list.
      </td>
    </tr>

    <tr ng-show="!Yaxis.isRate && !Yaxis.isFreq && Yaxis.vars.length == 0"
        class="option-table-row"><td>
      <input type="checkbox" ng-model="Yaxis.isNamestring"
                             ng-change="setYaxisNamestring()">
    </td><td class="modal-container">
      Generate variable names from
      <button type="link" class="action-link"
                          ng-click="showModal[4] = true">
      python expression</button> lambda j:
      <div class="modal-window-help-string" ng-show="showModal[4]">
        Python expression should depend on index j, and evaluate to a
        string containing the name of a valid EPICS variable. Invalid
        names are ignored.
        <button type="button" class="btn btn-link modal-window-close"
                ng-click="showModal[4] = false">
          <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
      </div>
      <span style="display:inline-block">
      <input type="text" ng-model="Yaxis.namestring"
                         ng-change="setState('preload')">
      for j in range(0,<input type="number" min="1" max="500" step="1"
                                            ng-model="Yaxis.nameCount"
                                            ng-change="setState('preload')">)
      </span>
    </td></tr>

    <tr ng-show="Xaxis.vars.length == 0 && Yaxis.vars.length == 0 &&
                 !Yaxis.isRate && !Yaxis.isFreq && !Yaxis.isNamestring"
        class="option-table-row"><td>
        <input type="checkbox" ng-model="Yaxis.isMapIndex"
                               ng-change="setYaxisMapIndex()">
      </td><td>
        Y axis is a map index, 
        j=range(<input type="number" min="0" max="500" 
                                     ng-model="Yaxis.mapIndex0"
                                     ng-change="setYaxisMapIndex()">,
        <input type="number" min="{{Yaxis.mapIndex0 + 1}}" max="500"
                             ng-model="Yaxis.mapIndex1"
                             ng-change="setYaxisMapIndex()">)
        <div class="modal-container">
        with title
        <button type="link" class="action-link" ng-click="showModal[1] = true">
        string</button>
        <div class="modal-window-help-string" ng-show="showModal[1]">
           String supports python-style index variable substitution using
          the literal {0}. Eg.
          <span style="background-color:white">TAGM {0} fadc scaler (Hz)</span>
          produces a sequence of titles of the general form
          "TAGM 93 fadc scaler (Hz)" for i=93. A fairly complete set of
          printf-style substituion expressions is supported; consult
          a python refrence for details.
          <button type="button" class="btn btn-link modal-window-close"
                  ng-click="showModal[1] = false">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </button>
        </div>
        <span style="display:inline-block">
        "<input type="text" ng-model="Yaxis.mapTitle">".format(i)
        </span>
        </div>
      </td>
    </tr>

    <tr class="option-table-row">
      <td>
        <i class="fa fa-square" aria-hidden="true"></i>
      </td><td>
        Axis limits
        <span style="display:inline-block">from
        <input type="number" ng-model="Yaxis.lowLimit"> or
        <input type="checkbox" ng-model="Yaxis.lowLimitAuto"> auto
        </span>
        <span style="display:inline-block">to
        <input type="number" ng-model="Yaxis.highLimit"> or
        <input type="checkbox" ng-model="Yaxis.highLimitAuto"> auto
        </span>
      </td>
    </tr>

    <tr ng-show="!Yaxis.isRate && !Yaxis.isFreq" class="option-table-row"><td>
      <i class="fa fa-square" aria-hidden="true"></i>
    </td><td>
      Plotted values are: 
      <div>
      <input type="radio" name="Yaxis_sumType" value="cummulative"
                          ng-model="Yaxis.sumType">
      cummulative, summed forward from the start time
      </div><div>
      <input type="radio" name="Yaxis_sumType" value="incremental"
                          ng-model="Yaxis.sumType">
      incremental, summed within each time sample interval
      </div><div>
      <input type="radio" name="Yaxis_sumType" value="instantaneous"
                          ng-model="Yaxis.isInstantaneous">
      instantaneous, mean rate within each sample interval
      </div>
    </td></tr>

    <tr ng-show="!Yaxis.isRate && !Yaxis.isFreq" class="option-table-row"><td>
      <i class="fa fa-square" aria-hidden="true"></i>
    </td><td>
      How to interpolate between measurements:
      <div>
      <input type="radio" name="Yaxis_interpol" value="linearInterp"
                          ng-model="Yaxis.interpol">
      linear interpolation, assume smooth evolution
      </div><div>
      <input type="radio" name="Yaxis_interpol" value="step"
                          ng-model="Yaxis.interpol">
      step-wise constant, assume discontinuous evolution
      </div>
    </td></tr>
    </table>
  </div>

  <div class="w3-col l2 w3-container"><p></p></div>
</div>

<!-- sequence and map definitions -->

<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>

  <!-- Sequence definition -->

  <div class="w3-col l4 w3-container">
    <h4 class="section-heading">Sequence definition:</h4>
    <table>
    <tr class="option-table-row"><td>
      <i class="fa fa-square" aria-hidden="true"></i>
    </td><td>
      Plot the above data in a sequence of 
      <input type="number" min="0" max="999" step="1" ng-model="Sequence.length">
      frames,
      <span style="display:inline-block">
      designated by frame index k in range(0,{{ Sequence.length }})
      </span>
    </td></tr>

    <tr ng-show="Sequence.length > 1" class="option-table-row"><td>
      <i class="fa fa-square" aria-hidden="true"></i>
    </td><td>
      The frame sequence:
      <div>
      <input type="radio" name="sequence_type" value="timePartition"
                          ng-model="Sequence.time"
                          ng-change="setSequenceTime">
      subdivides the time domain into segments of equal length
      </div><div>
      <input type="radio" name="sequence_type" value="xaxisPartition"
                          ng-model="Sequence.xaxis"
                          ng-change="setSequenceXaxis">
      subdivides the x axis variables into equal subsets
      </div><div>
      <input type="radio" name="sequence_type" value="yaxisPartition"
                          ng-model="Sequence.yaxis"
                          ng-change="setSequenceYaxis">
      subdivides the y axis variables into equal subsets
      </div><div ng-show="Xaxis.isMapIndex || Yaxis.isMapIndex">
      <input type="radio" name="sequence_type" value="mapPartition"
                          ng-model="Sequence.map"
                          ng-change="setSequenceMap">
      map definition selects what shows up in frame k
      </div>
    </td></tr>
    </table>
  </div>

  <!-- map definition -->

  <div class="w3-col l4 w3-container"
       ng-show="Xaxis.isMapIndex || Yaxis.isMapIndex">
    <h4 class="section-heading">Map variables:</h4>
    <table>
    <tr class="option-table-row"><td>
      <i class="fa fa-square" aria-hidden="true"></i>
    </td><td>
      Python eval expression that returns mapped variable names:
      <div>lambda i,j,k:
      <input type="text" name="mapFunction"
             style="width:300px; max-width:500px; overflow-y:scroll;"
             ng-model="Map.functionString"
             ng-change="setState('preload')">
      </div>
      <div ng-show="Map.functionString.length > 0">
      <button type="link" class="action-link" ng-click="mapTest()">
      Test</button> with
      i=<input type="number" min="{{ Xaxis.mapIndex0 }}"
                             max="{{ Xaxis.mapIndex1 - 1 }}"
                             ng-model="Map.iIndex"
                             ng-change="mapTest()">,
      j=<input type="number" min="{{ Yaxis.mapIndex0 }}"
                             max="{{ Yaxis.mapIndex1 - 1 }}"
                             ng-model="Map.jIndex"
                             ng-change="mapTest()">,
      k=<input type="number" min="0"
                             max="{{ Sequence.length - 1 }}"
                             ng-model="Map.kIndex" 
                             ng-change="mapTest()">
      <div>returns {{ Map.testResult }}</div>
      </div>
    </td></tr>
    </table>
  </div>
</div>

<!-- fetch and plot the data -->

<div class="w3-row">
  <div class="w3-col l2 w3-container"><p></p></div>

  <!-- payload summary, fetch button -->

  <div class="w3-col l8 w3-container" style="margin-top:18px">
  <div ng-show="State.preload" class="modal-container">
    <div class="modal-window-help-string" ng-show="showModal[2]"
         style="right:30%; bottom:0; top:auto;
                font-weight:normal; font-size:100%">
      No existing EPICS variables were found matching this configuration.
      Please check the axis variable lists or map expression for errors
      and try again.
      <button type="button" class="btn btn-link modal-window-close"
              ng-click="showModal[2] = false">
        <span class="glyphicon glyphicon-remove-sign"></span>
      </button>
    </div>
    <div class="modal-window-help-string" ng-show="showModal[5]"
         style="right:50%; bottom:0; top:auto;
                font-weight:normal; font-size:100%">
      No existing EPICS variables were found matching the iterable
      expression given for the x axis variable names.
      Please check the axis variable lists or map expression for errors
      and try again.
      <button type="button" class="btn btn-link modal-window-close"
              ng-click="showModal[5] = false">
        <span class="glyphicon glyphicon-remove-sign"></span>
      </button>
    </div>
    <div class="modal-window-help-string" ng-show="showModal[6]"
         style="right:10%; bottom:0; top:auto;
                font-weight:normal; font-size:100%">
      No existing EPICS variables were found matching the iterable
      expression given for the y axis variable names.
      Please check the axis variable lists or map expression for errors
      and try again.
      <button type="button" class="btn btn-link modal-window-close"
              ng-click="showModal[6] = false">
        <span class="glyphicon glyphicon-remove-sign"></span>
      </button>
    </div>
    <button type="btn btn-link" style="font-weight:bold; font-size:150%; width:100%"
            ng-click="getPayload()">go</button>
  </div>
  <div ng-show="State.paused" style="font-weight:bold; font-size:120%">
    Total database fetch payload is {{ totalRows }} x {{ totalColumns }}
    = {{ totalRows * totalColumns }}
    ({{ (totalRows * totalColumns * 10 / 1e6).toPrecision(3) }} MB) :
    <button type="btn btn-link" ng-click="fetchPayload()">go for it</button>
  </div>

  </div>
</div>

</form>


<!-- Angular.js application code begins here -->


<script type="text/javascript">
var app = angular.module('GlueXscalers', []);
app.controller('scalersCtrl', function($scope, $http) {
    $http({ method : "GET", url : "?request=list_groups" }).then(
        function(response) {
            $scope.EPICS.groups = {};
            $scope.EPICS.nogroup = "...choose one";
            $scope.EPICS.groups[0] = $scope.EPICS.nogroup;
            for (var name in response.data) {
                index = response.data[name];
                $scope.EPICS.groups[index] = name;
            }
            $scope.EPICS.group = $scope.EPICS.nogroup;
        },
        function(response) {
            $scope.EPICS.groups = {};
            $scope.EPICS.nogroup = "no groups found";
            $scope.EPICS.groups[0] = $scope.EPICS.nogroup;
            $scope.EPICS.group = $scope.EPICS.nogroup;
        }
    );

    $scope.EPICSgroupSelected = function() {
        var gindex = 0;
        for (var key in $scope.EPICS.groups) {
          if ($scope.EPICS.group == $scope.EPICS.groups[key]) {
            gindex = key;
            break;
          }
        }
        var querystring = "?request=list_channels&group=" + gindex.toString();
        $http({ method : "GET", url : querystring }).then(
            function(response) {
                $scope.EPICS.vars = response.data;
                $scope.filterChannels();
            },
            function(response) {
                $scope.EPICS.vars = [];
            }
        );
    };

    $scope.filterChannels = function() {
        var visible = 0;
        if ($scope.EPICS.channelFilterRE && 
            $scope.EPICS.channelFilterRE.length > 0)
        {
            var re = RegExp($scope.EPICS.channelFilterRE);
            for (var i in $scope.EPICS.vars) {
                if (re.exec($scope.EPICS.vars[i].name)) {
                    $scope.EPICS.vars[i].hide = false;
                    ++visible;
                }
                else  {
                    $scope.EPICS.vars[i].hide = true;
                }
            }
        }
        else {
           visible = $scope.EPICS.vars.length;
        }
        $scope.EPICS.channelPageStart = 0;
        $scope.EPICS.channelPageSize = 15;
        var pages = visible / $scope.EPICS.channelPageSize;
        if (pages / 10 > $scope.EPICS.channelPageSize) 
            $scope.EPICS.channelPageSize = Math.ceil(Math.sqrt(visible / 20));
        pages = Math.ceil(visible / $scope.EPICS.channelPageSize);
        $scope.EPICS.channelPages = [];
        for (var page = 0; page < pages; ++page)
            $scope.EPICS.channelPages.push(page);
        $scope.EPICS.channelPageSelected = 0;
        $scope.EPICS.channelsSelectedX = 0;
        $scope.EPICS.channelsSelectedY = 0;
        $scope.EPICS.channelTotal = 0;
        $scope.EPICS.selectAllX = false;
        $scope.EPICS.selectAllY = false;
    };

    $scope.searchFilter = function(evar) {
        if ($scope.EPICS.channelFilterRE && 
            $scope.EPICS.channelFilterRE.length > 0)
        {
            var re = RegExp($scope.EPICS.channelFilterRE);
            return re.test(evar.name);
        }
        return true;
    };

    $scope.channelPageSet = function(index) {
        $scope.EPICS.channelPageStart = index * $scope.EPICS.channelPageSize;
        $scope.EPICS.channelPageSelected = index;
    };

    $scope.channelCount = function() {
        var re;
        if ($scope.EPICS.channelFilterRE && 
            $scope.EPICS.channelFilterRE.length > 0)
        {
            re = RegExp($scope.EPICS.channelFilterRE);
        }
        $scope.EPICS.totalSize = 0;
        $scope.EPICS.channelsSelectedX = 0;
        $scope.EPICS.channelsSelectedY = 0;
        for (var i in $scope.EPICS.vars) {
            if (!re || re.exec($scope.EPICS.vars[i].name)) {
                $scope.EPICS.totalSize += $scope.EPICS.vars[i].size;
                if ($scope.EPICS.vars[i].add2x)
                    ++$scope.EPICS.channelsSelectedX;
                if ($scope.EPICS.vars[i].add2y)
                    ++$scope.EPICS.channelsSelectedY;
            }
        }
        return $scope.EPICS.totalSize;
    };

    $scope.channelSelectAllX = function() {
        var re;
        if ($scope.EPICS.channelFilterRE &&
            $scope.EPICS.channelFilterRE.length > 0)
        {
            re = RegExp($scope.EPICS.channelFilterRE);
        }
        for (var i in $scope.EPICS.vars)
            if (!re || re.exec($scope.EPICS.vars[i].name))
                $scope.EPICS.vars[i].add2x = $scope.EPICS.selectAllX;
    };

    $scope.channelSelectAllY = function() {
        var re;
        if ($scope.EPICS.channelFilterRE &&
            $scope.EPICS.channelFilterRE.length > 0)
        {
            re = RegExp($scope.EPICS.channelFilterRE);
        }
        for (var i in $scope.EPICS.vars)
            if (!re || re.exec($scope.EPICS.vars[i].name))
                $scope.EPICS.vars[i].add2y = $scope.EPICS.selectAllY;
    };

    $scope.setStartRunStart = function() {
        $scope.setState("preload");
        if ($scope.timeSpan.runStart) {
            $scope.getRunTimes($scope.timeSpan.runStart)
            .then(function(response) {
                if (response.data.starttime) {
                    var t = response.data.starttime;
                    $scope.timeSpan.timeStart = new Date(t * 1000);
                    $scope.setTimeSpanTimes();
                    $scope.timeSpan.runStart = response.data.run;
                    if (!$scope.timeSpan.runEnd || 
                        $scope.timeSpan.runEnd < $scope.timeSpan.runStart)
                    {
                        $scope.timeSpan.runEnd = $scope.timeSpan.runStart;
                    }
                }
            });
        }
    };

    $scope.setStartRunEnd = function() {
        $scope.setState("preload");
        if ($scope.timeSpan.runStart) {
            $scope.getRunTimes($scope.timeSpan.runStart)
            .then(function(response) {
                if (response.data.endtime) {
                    var t = response.data.endtime;
                    $scope.timeSpan.timeStart = new Date(t * 1000);
                    $scope.setTimeSpanTimes();
                    $scope.timeSpan.runStart = response.data.run;
                    if (!$scope.timeSpan.runEnd || 
                        $scope.timeSpan.runEnd < $scope.timeSpan.runStart)
                    {
                        $scope.timeSpan.runEnd = $scope.timeSpan.runStart + 1;
                    }
                }
            });
        }
    };

    $scope.setEndRunStart = function() {
        $scope.setState("preload");
        if ($scope.timeSpan.runEnd) {
            $scope.getRunTimes($scope.timeSpan.runEnd)
            .then(function(response) {
                if (response.data.starttime) {
                    var t = response.data.starttime;
                    $scope.timeSpan.timeEnd = new Date(t * 1000);
                    $scope.setTimeSpanTimes();
                    $scope.timeSpan.runEnd = response.data.run;
                    if (!$scope.timeSpan.runStart ||
                        $scope.timeSpan.runStart > $scope.timeSpan.runEnd)
                    {
                        $scope.timeSpan.runStart = $scope.timeSpan.runEnd - 1;
                    }
                }
            });
        }
    };

    $scope.setEndRunEnd = function() {
        $scope.setState("preload");
        if ($scope.timeSpan.runEnd) {
            $scope.getRunTimes($scope.timeSpan.runEnd)
            .then(function(response) {
                if (response.data.endtime) {
                    var t = response.data.endtime;
                    $scope.timeSpan.timeEnd = new Date(t * 1000);
                    $scope.setTimeSpanTimes();
                    $scope.timeSpan.runEnd = response.data.run;
                    if (!$scope.timeSpan.runStart ||
                        $scope.timeSpan.runStart > $scope.timeSpan.runEnd)
                    {
                        $scope.timeSpan.runStart = $scope.timeSpan.runEnd;
                    }
                }
            });
        }
    };

    $scope.setTimeSampleCount = function() {
        $scope.setState("preload");
        var duration = ($scope.timeSpan.timeEnd.getTime() - 
                        $scope.timeSpan.timeStart.getTime()) / 1000;
        if (duration > 0) {
            var count = $scope.timeSpan.sampleCount;
            count = (count > 0)? count : 1;
            count = (count < duration)? count : Math.floor(duration);
            var delta = Math.floor(duration / count);
            delta = (delta > 0)? delta : 1;
            $scope.timeSpan.sampleCount = count;
            $scope.timeSpan.sampleStep = delta;
            if ($scope.timeSpan.sampleWidth > delta) {
                $scope.timeSpan.sampleWidth = delta;
            }
        }
    };

    $scope.setTimeSampleWidth = function() {
        $scope.setState("preload");
        if ($scope.timeSpan.sampleWidth > $scope.timeSpan.sampleStep)
            $scope.timeSpan.sampleWidth = $scope.timeSpan.sampleStep;
        else if ($scope.timeSpan.sampleWidth < 1)
            $scope.timeSpan.sampleWidth = 1;
    };

    $scope.setTimeSpanTimes = function() {
        $scope.setState("preload");
        var duration = ($scope.timeSpan.timeEnd.getTime() -
                        $scope.timeSpan.timeStart.getTime()) / 1000;
        if (duration > 0) {
            var delta = $scope.timeSpan.sampleStep;
            var count = Math.floor(duration / delta);
            count = (count > 0)? count : 1;
            $scope.timeSpan.sampleCount = count;
        }
    };

    $scope.getRunTimes = function(run) {
        $scope.setState("preload");
        var querystring = "?request=run_times&run=" + run.toString();
        return $http({ method : "GET", url : querystring })
        .catch(function() {
            console.log("request run_times returns error");
        });
    };

    $scope.importXselection = function() {
        $scope.setState("preload");
        $scope.Xaxis.importTruncated = 0;
        var dupslist = [];
        var addcount = 0;
        for (var i in $scope.EPICS.vars) {
            if ($scope.EPICS.vars[i].add2x) {
                var evar = $scope.EPICS.vars[i];
                if (!$scope.Xaxis.names[evar.name] &&
                    !$scope.Yaxis.names[evar.name])
                {
                    evar.min_index = 0;
                    evar.max_index = evar.size - 1;
                    $scope.Xaxis.vars.push(evar);
                    $scope.Xaxis.names[evar.name] = evar.chan;
                    if (++addcount == 100) {
                        $scope.Xaxis.importTruncated = addcount;
                        $scope.Xaxis.importSelection = false;
                        return;
                    }
                }
                else if (addcount == 0) {
                    dupslist.push(evar);
                }
            }
        }
        // ignore multiple imports of the same variable
        // unless it is being added one click at a time.
        if (addcount == 0 && dupslist.length == 1) {
            var evar = JSON.parse(JSON.stringify(dupslist[0]));
            evar.min_index = 0;
            evar.max_index = evar.size - 1;
            $scope.Xaxis.vars.push(evar);
            $scope.Xaxis.names[evar.name] = evar.chan;
        }
        $scope.Xaxis.importSelection = ($scope.Xaxis.vars.length > 0);
    };

    $scope.importYselection = function() {
        $scope.setState("preload");
        $scope.Yaxis.importTruncated = 0;
        var dupslist = [];
        var addcount = 0;
        for (var i in $scope.EPICS.vars) {
            if ($scope.EPICS.vars[i].add2y) {
                var evar = $scope.EPICS.vars[i];
                if (!$scope.Yaxis.names[evar.name] &&
                    !$scope.Xaxis.names[evar.name])
                {
                    evar.min_index = 0;
                    evar.max_index = evar.size - 1;
                    $scope.Yaxis.vars.push(evar);
                    $scope.Yaxis.names[evar.name] = evar.chan;
                    if (++addcount == 100) {
                        $scope.Yaxis.importTruncated = addcount;
                        $scope.Yaxis.importSelection = true;
                        return;
                    }
                }
                else if (addcount == 0) {
                    dupslist.push(evar);
                }
            }
        }
        // ignore multiple imports of the same variable
        // unless it is being added one click at a time.
        if (addcount == 0 && dupslist.length == 1) {
            var evar = JSON.parse(JSON.stringify(dupslist[0]));
            evar.min_index = 0;
            evar.max_index = evar.size - 1;
            $scope.Yaxis.vars.push(evar);
            $scope.Yaxis.names[evar.name] = evar.chan;
        }
        $scope.Yaxis.importSelection = ($scope.Yaxis.vars.length > 0);
    };

    $scope.clearXselection = function() {
        $scope.setState("preload");
        $scope.Xaxis.vars = [];
        $scope.Xaxis.names = {};
        $scope.Xaxis.clearSelection = false;
        $scope.Xaxis.importSelection = false;
    };

    $scope.clearYselection = function() {
        $scope.setState("preload");
        $scope.Yaxis.vars = [];
        $scope.Yaxis.names = {};
        $scope.Yaxis.clearSelection = false;
        $scope.Yaxis.importSelection = false;
    };

    $scope.editXselection = function(index, flag) {
        $scope.setState("preload");
        $scope.Xaxis.vars[index].edit = flag
    };

    $scope.editYselection = function(index, flag) {
        $scope.setState("preload");
        $scope.Yaxis.vars[index].edit = flag
    };

    $scope.deleteXselection = function(index) {
        $scope.setState("preload");
        var evar = $scope.Xaxis.vars.splice(index, 1);
        delete $scope.Xaxis.names[evar.name];
    };

    $scope.deleteYselection = function(index) {
        $scope.setState("preload");
        var evar = $scope.Yaxis.vars.splice(index, 1);
        delete $scope.Yaxis.names[evar.name];
    };

    $scope.setXaxisNamestring = function() {
        $scope.setState("preload");
        if ($scope.Xaxis.vars.length > 0 ||
            $scope.Xaxis.isMapIndex ||
            $scope.Xaxis.isTime ||
            !$scope.Xaxis.namestring ||
            $scope.Xaxis.namestring.length == 0)
        {
            $scope.Xaxis.isNamestring = false;
        }
    }

    $scope.setXaxisMapIndex = function() {
        $scope.setState("preload");
        if ($scope.Xaxis.vars.length > 0 ||
            $scope.Xaxis.isTime ||
            $scope.Xaxis.isNamestring)
        {
            $scope.Xaxis.isMapIndex = false;
        }
        if ($scope.Map.iIndex < $scope.Xaxis.mapIndex0)
            $scope.Map.iIndex = $scope.Xaxis.mapIndex0;
        if ($scope.Map.iIndex > $scope.Xaxis.mapIndex1 - 1)
            $scope.Map.iIndex = $scope.Xaxis.mapIndex1 - 1;
    }

    $scope.setYaxisNamestring = function() {
        $scope.setState("preload");
        if ($scope.Yaxis.vars.length > 0 ||
            $scope.Yaxis.isMapIndex ||
            $scope.Yaxis.isRate ||
            $scope.Yaxis.isFreq ||
            !$scope.Yaxis.namestring ||
            $scope.Yaxis.namestring.length == 0)
        {
            $scope.Yaxis.isNamestring = false;
        }
    }

    $scope.setYaxisMapIndex = function() {
        $scope.setState("preload");
        if ($scope.Yaxis.vars.length > 0 ||
            $scope.Yaxis.isRate ||
            $scope.Yaxis.isFreq ||
            $scope.Yaxis.isNamestring)
        {
            $scope.Yaxis.isMapIndex = false;
        }
        if ($scope.Map.jIndex < $scope.Yaxis.mapIndex0)
            $scope.Map.jIndex = $scope.Yaxis.mapIndex0;
        if ($scope.Map.jIndex > $scope.Yaxis.mapIndex1 - 1)
            $scope.Map.jIndex = $scope.Yaxis.mapIndex1 - 1;
    }
  
    $scope.mapTest = function() {
        var req = "?request=test_mapping";
        req += "&mapstring=" + encodeURIComponent($scope.Map.functionString);
        req += "&i=" + encodeURIComponent($scope.Map.iIndex.toString());
        req += "&j=" + encodeURIComponent($scope.Map.jIndex.toString());
        req += "&k=" + encodeURIComponent($scope.Map.kIndex.toString());
        $http({ method : "GET", url : req })
        .then(function(response) {
            $scope.Map.testResult = response.data;
        }, function(response) {
            $scope.Map.testResult = "SERVER ERROR"
        });
    };

    $scope.evalNamestrings = function() {
        $scope.Xaxis.names = [];
        $scope.Xaxis.nameTable = [];
        var act = Promise.resolve(true);
        if ($scope.Xaxis.isNamestring) {
            act = act.then(function(x) {
                var req = "?request=eval_names";
                var i1 = $scope.Xaxis.nameCount;
                var ns = $scope.Xaxis.namestring;
                req += "&namestring=" + encodeURIComponent(ns);
                req += "&i0=0";
                req += "&i1=" + encodeURIComponent(i1.toString());
                return $http({ method : "GET", url : req });
            }).then(function(response) {
                if (response.data.names)
                    $scope.Xaxis.names = response.data.names;
                if (response.data.nameTable)
                    $scope.Xaxis.nameTable =  response.data.nameTable;
                if (response.data.chan_id) {
                    for (var i in response.data.names)
                        if (response.data.chan_id[i])
                            $scope.totalColumns++;
                }
                return true;
            });
        }
        if ($scope.Yaxis.isNamestring) {
            act = act.then(function(x) {
                var req = "?request=eval_names";
                var j1 = $scope.Yaxis.nameCount;
                var ns = $scope.Yaxis.namestring;
                req += "&namestring=" + encodeURIComponent(ns);
                req += "&j0=0";
                req += "&j1=" + encodeURIComponent(j1.toString());
                return $http({ method : "GET", url : req });
            }).then(function(response) {
                if (response.data.names)
                    $scope.Yaxis.names = response.data.names;
                if (response.data.nameTable)
                    $scope.Yaxis.nameTable =  response.data.nameTable;
                if (response.data.chan_id) {
                    for (var i in response.data.names)
                        if (response.data.chan_id[i])
                            $scope.totalColumns++;
                }
                return true;
            });
        }
        return act;
    };

    $scope.evalMapstring = function() {
        $scope.Map.names = [];
        $scope.Map.nameTable = [];
        var req = "?request=eval_mapping";
        var i0 = 0;
        var i1 = 1;
        if ($scope.Xaxis.isMapIndex) {
            i0 = $scope.Xaxis.mapIndex0;
            i1 = $scope.Xaxis.mapIndex1;
        }
        var j0 = 0;
        var j1 = 1;
        if ($scope.Yaxis.isMapIndex) {
            j0 = $scope.Yaxis.mapIndex0;
            j1 = $scope.Yaxis.mapIndex1;
        }
        var k0 = 0;
        var k1 = $scope.Sequence.length;
        var fs = $scope.Map.functionString;
        req += "&mapstring=" + encodeURIComponent(fs);
        req += "&i0=" + encodeURIComponent(i0.toString());
        req += "&i1=" + encodeURIComponent(i1.toString());
        req += "&j0=" + encodeURIComponent(j0.toString());
        req += "&j1=" + encodeURIComponent(j1.toString());
        req += "&k0=" + encodeURIComponent(k0.toString());
        req += "&k1=" + encodeURIComponent(k1.toString());
        return $http({ method : "GET", url : req })
        .then(function(response) {
            if (response.data.names)
                $scope.Map.names = response.data.names;
            if (response.data.nameTable)
                $scope.Map.nameTable =  response.data.nameTable;
            if (response.data.chan_id) {
                for (var i in response.data.names)
                    if (response.data.chan_id[i])
                        $scope.totalColumns++;
            }
        });
    };

    $scope.getXaxisVarsCount = function() {
        var count = 0;
        for (var i in $scope.Xaxis.vars)
            count += $scope.Xaxis.vars[i].size;
        return Promise.resolve(count);
    };

    $scope.getYaxisVarsCount = function() {
        var count = 0;
        for (var i in $scope.Yaxis.vars)
            count += $scope.Yaxis.vars[i].size;
        return Promise.resolve(count);
    };

    $scope.getTotalColumns = function() {
        $scope.totalColumns = 1;
        return $scope.getXaxisVarsCount()
        .then(function(result) {
            $scope.totalColumns += result;
            return $scope.getYaxisVarsCount();
        }).then(function(result) {
            $scope.totalColumns += result;
            if ($scope.totalColumns > 1)
                return $scope.totalColumns;
            else if ($scope.Xaxis.isNamestring || $scope.Yaxis.isNamestring)
                return $scope.evalNamestrings();
            else if ($scope.Xaxis.isMapIndex || $scope.Yaxis.isMapIndex)
                return $scope.evalMapstring();
            else
                return 0;
        });
    };

    $scope.getTotalRows = function() {
        $scope.totalRows = $scope.timeSpan.sampleCount * 
                           $scope.timeSpan.sampleWidth;
        return Promise.resolve($scope.totalRows);
    };

    $scope.setState = function(new_state) {
        for (state in $scope.State)
            $scope.State[state] = false;
        $scope.State[new_state] = true;
    }

    $scope.getPayload = function() {
        $scope.getTotalRows()
        .then(function() {
            return $scope.getTotalColumns();
        })
        .then(function() {
            if ($scope.totalColumns > 1)
                $scope.setState('paused');
            else
                $scope.showModal[2] = true;
            $scope.$apply();
        });
    };

    $scope.fetchPayload = function() {
    };

    $scope.State = {};
    $scope.setState("preload");

    $scope.EPICS = {};
    $scope.EPICS.channelPages = 0;
    $scope.EPICS.channelPageSize = 15;
    $scope.EPICS.channelPageCount = 0;
    $scope.EPICS.channelPageStart = 0;
    $scope.EPICS.channelPageSelected = 0;

    $scope.timeSpan = {};
    $scope.timeSpan.timeEnd = new Date();
    var tend = $scope.timeSpan.timeEnd.getTime();
    $scope.timeSpan.timeStart = new Date(tend - 3600000);
    $scope.timeSpan.sampleCount = 100;
    $scope.timeSpan.sampleWidth = 1;
    $scope.setTimeSampleCount();

    $scope.Xaxis = {};
    $scope.Xaxis.vars = [];
    $scope.Xaxis.names = {};
    $scope.Xaxis.nameCount = 1;
    $scope.Xaxis.namestring = "";
    $scope.Yaxis = {};
    $scope.Yaxis.vars = [];
    $scope.Yaxis.names = {};
    $scope.Yaxis.nameCount = 1;
    $scope.Yaxis.namestring = "";

    $scope.Xaxis.mapIndex0 = 0;
    $scope.Xaxis.mapIndex1 = 1;
    $scope.Yaxis.mapIndex0 = 0;
    $scope.Yaxis.mapIndex1 = 1;
    $scope.Xaxis.lowLimitAuto = true;
    $scope.Xaxis.highLimitAuto = true;
    $scope.Yaxis.lowLimitAuto = true;
    $scope.Yaxis.highLimitAuto = true;

    $scope.Map = {};
    $scope.Map.iIndex = 0;
    $scope.Map.jIndex = 0;
    $scope.Map.kIndex = 0;

    $scope.Sequence = {};
    $scope.Sequence.length = 1;

    $scope.showModal = new Array(7);
    for (var i in $scope.showModal)
        $scope.showModal[i] = false;
});

</script>

</body>
</html>
